<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <img src="../../../assets/Logo.png" height="50px" width="50px" alt="HOME_LOGO">
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end"  id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
  
        <li class="nav-item">
          <a class="nav-link" routerLink="/aboutus">About US</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Events</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Vlogs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" >Membership</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" >Contact US</a>
          </li>
      </ul>
    </div>
  </nav>
  