<div class="container" style="padding-top: 70px;">
    <br>
    <div class="row">
        <div class="col-3">
          <img src="../../../assets/content_1.jpg" height="200px" width="200px">
        </div>
        <div class="col-9">
            <div class="content"></div>

          <p>The Tatras are not only the highest mountains in Poland, but also the most romantic. Amongst Polish authors and poets, there arose a genuine cult of the Tatras, and hundreds of literary works were dedicated to them. This romantic love of the Tatras began in the mid-19th century. Since, at that time, Poland could not be found on the map of Europe, Poles used to joke that it was only up in the Tatras that one could sing the Polish national anthem ‘Poland is not yet lost’ out loud without fear of serious consequences. It was then, too, that the writer Konstanty Majewski created the legend that one fine day, the army of King Bolesław the Brave would descend from the Tatras to once again restore Polish independence. On the peaks of the Tatras, it is quite beautiful and quite windy – it is not without cause that one of the most popular Polish rhymes for ‘Tatry’ (the Tatras) is ‘wiatry’ (winds).</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3">
          <img src="../../../assets/content_1.jpg" height="200px" width="200px">
        </div>
        <div class="col-9">
            <div class="content"></div>

          <p>The Tatras are not only the highest mountains in Poland, but also the most romantic. Amongst Polish authors and poets, there arose a genuine cult of the Tatras, and hundreds of literary works were dedicated to them. This romantic love of the Tatras began in the mid-19th century. Since, at that time, Poland could not be found on the map of Europe, Poles used to joke that it was only up in the Tatras that one could sing the Polish national anthem ‘Poland is not yet lost’ out loud without fear of serious consequences. It was then, too, that the writer Konstanty Majewski created the legend that one fine day, the army of King Bolesław the Brave would descend from the Tatras to once again restore Polish independence. On the peaks of the Tatras, it is quite beautiful and quite windy – it is not without cause that one of the most popular Polish rhymes for ‘Tatry’ (the Tatras) is ‘wiatry’ (winds).</p>
        </div>
    </div>
    
</div>